.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;

    .twitter-logo {
        width: 50px;
        height: 50px;
        fill: #1D9BF0;
    }
}