
.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-container {
        width: clamp(200px, 50%, 500px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #2F3336;
        border-radius: 15px;

        .twitter-logo {
            width: 100px;
            height: 100px;
            fill: #1D9BF0;
            padding-top: 2rem;
        }

        h1 {
            text-align: center;
        }

        .email-input {
            &:focus {background-color: #1D9BF0;}
        }

        input {
            padding-top: 1rem;
            color: inherit
        }
    
        .login-button {
            width: clamp(100px, 30%, 300px);
            margin: 1rem;
            font-family: inherit;
            // font-size: 32px;
            border-radius: 15px;
            background-color: #1D9BF0
        }
    }
}
